<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="preload">
    <div class="top"></div>
    <div class="profile" style="background-image: url({{ site.background }});">
        <!-- {{ site.url }}/papers.co-vd21-black-sea-texture-40-wallpaper.jpg"> -->
        <img src="{{ site.avatar }}" class="img-circle" />
        <h3 align="center" style="color:#F8F8FF;">{{ site.name }}</h3>
        <h4 align="center" style="color:#F8F8FF;">{{ site.description }}</h4>
        <h4 align="center" style="color:#F8F8FF;">{{ site.email }}</h4>
    </div>
    <div class="posts">
        {{ content }}
    </div>
</body>
<script type="text/javascript">
    window.onload = function(){
        document.getElementsByTagName("BODY")[0].classList.remove("preload");
    }
</script>
</html>
